/.env
/elasticsearch_docker commands.txt
/logs/
/deployment_on_linux/.env
/app.db
/deployment_on_linux/droplet_commands.txt
/app/logs/
/heroku_commands.txt
/docker_commands.txt
/deployment_on_linux/droplet_commands.txt
/linux_python_redis_commands.txt
